body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.input-title {
  font-size: 3em;
  outline: 0;
  border-width: 0 0 0px;
  border-color: light;
  color: #494949;
}

.input-title::placeholder {
  color: lightgrey;
}

.input-title:focus {
  outline: 0;
  border-width: 0 0 2px;
  border-color: lightgrey;
}

.input-description {
  width: 100%;
  font-size: 1em;
}

.material-icons {
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.footer {
  color: lightgrey;
}

.todo-list-item {
  cursor: pointer;
}
